<div class="panel" style="height:100%;">
    <div class="panel-body panel-body-space">
        <!-- 内容 star -->
        <nz-divider nzText="矢量查询" nzOrientation="left"></nz-divider>
        <button nz-button nzType="primary" nzBlock (click)="queryVector()" [disabled]="!!queryMode" [hidden]="queryMode === 'vector'">矢量查询</button>
        <button nz-button nzType="primary" nzBlock (click)="queryVectorClose()" *ngIf="queryMode === 'vector'">关闭矢量查询</button>
        <nz-divider nzText="模型查询" nzOrientation="left"></nz-divider>
        <button nz-button nzType="primary" nzBlock (click)="queryFixedModel()" [disabled]="!!queryMode" [hidden]="queryMode === 'fixed'">模型查询</button>
        <button nz-button nzType="primary" nzBlock (click)="queryFixedModelClose()" *ngIf="queryMode === 'fixed'">关闭模型查询</button>

        <nz-divider nzText="查询结果" nzOrientation="left"></nz-divider>
        <table class="table">
            <thead>
                <tr>
                    <th>key</th>
                    <th>value</th>
                </tr>
            </thead>
            <tbody>
                <!---->
                <tr>
                    <td>class</td>
                    <td>{{gridData.class}}</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>{{gridData.name}}</td>
                </tr>
                <tr>
                    <td>ToolName</td>
                    <td>{{gridData.ToolName}}</td>
                </tr>
            </tbody>
        </table>
        <!-- 内容 end -->
    </div>
</div>