<div class="layout">
    <app-header class="layout-header"></app-header>
    <app-silder class="layout-silder"></app-silder>
    <div class="layout-container">
        <app-toolbar class="layout-toolbar"></app-toolbar>
        <app-mapper class="layout-wraper"></app-mapper>
        <app-sidebar class="layout-sidebar" [title]="sideTitle" [hidden]="sidebar_isHidden">
            <app-controls></app-controls>
        </app-sidebar>
    </div>
    <app-footer class="layout-footer"></app-footer>
</div>