<!-- 此方法OK -->
<!-- <object style="position:relative" id="ArkObj" type="application/x-itst-activex" width="100%" height="100%" classid="CLSID:0BCAF84B-7570-4A96-9528-542A77E6606A">
  <param name="_Version" value="65536">
  <param name="_ExtentX" value="13229">
  <param name="_ExtentY" value="13229">
  <param name="_StockProps" value="0">
</object> -->
<ng-container *ngIf="isIE && hasArk">
    <nz-spin nzTip='正在加载地图数据，请稍等...' style="position: absolute;width:100%; height:100%;"></nz-spin>
    <iframe src="/assets/arkMap/index.html" id="arkIframe" name="arkIframe" frameborder="0" width="100%" height="100%" style="position: absolute; z-index: -1;scrolling: no;"></iframe>
</ng-container>
<ng-container *ngIf="!isIE || !hasArk">
    <div class="error">
        <div>
            <p>
                <nz-spin [nzSize]="'large'"></nz-spin>
            </p>
            <p *ngIf="!isIE">
                Sorry, The ArkMap must be use IE10+ ~
            </p>
            <p *ngIf="!hasArk">
                Sorry, The ActiveX of ArkMap is not installed, please click <a class="ant-btn ant-btn-primary ant-btn-sm" href="/assets/download/setup.exe">here</a>.
            </p>
        </div>
    </div>
</ng-container>