<!-- 此方法OK -->
<!-- <object style="position:relative" id="ArkObj" type="application/x-itst-activex" width="100%" height="100%" classid="CLSID:0BCAF84B-7570-4A96-9528-542A77E6606A">
  <param name="_Version" value="65536">
  <param name="_ExtentX" value="13229">
  <param name="_ExtentY" value="13229">
  <param name="_StockProps" value="0">
</object> -->
<ng-container *ngIf="isIE">
    <iframe src="/assets/ark/index.html" id="arkIframe" name="arkIframe" frameborder="0" width="100%" height="100%" style="position: absolute; z-index: -1;scrolling: no;"></iframe>
</ng-container>
<ng-container *ngIf="!isIE">
    <div class="error">
        <div>
            <p>
                <nz-spin [nzSize]="'large'"></nz-spin>
            </p>
            <p>
                Sorry, The ArkMap must be use IE10+ ~
            </p>
        </div>
    </div>
</ng-container>