 .tools {
     margin-bottom: 10px;
     ul {
         border-bottom: 1px solid #606060;
         border-top: 1px solid #000;
         margin: 0;
         li {
             display: block;
             border-bottom: 1px solid #000;
             border-top: 1px solid #414141;
             &.active {
                 background-color: green !important;
             }
             &:hover {
                 background-color: rgba($color: #fff, $alpha: .1);
                 cursor: pointer;
             }
             a {
                 display: block;
                 text-align: center;
                 padding: 8px;
                 min-width: 48px;
                 i {
                     line-height: 32px;
                     display: block;
                     height: 32px;
                     margin: 0 auto;
                     font-size: 20px;
                 }
                 span {
                     font-size: 12px;
                     display: block;
                     line-height: 1.25em;
                     white-space: nowrap;
                 }
             }
         }
     }
     &.tools-orange ul li.active {
         background-color: rgb(255, 153, 0) !important;
     }
     &.tools-blue ul li.active {
         background-color: rgb(0, 130, 216) !important;
     }
 }