.panel {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    &.panel-border {
        border: 1px solid #ddd;
    }
    >.panel-sild {
        padding: 8px;
    }
    >.panel-head {
        border-bottom: 1px solid #ddd;
        display: flex;
        flex-direction: row;
        padding: 8px 16px;
        line-height: 2em;
        font-size: 15px;
        .panel-head-btn {
            a {
                margin-right: -4px;
            }
        }
        .panel-head-title {
            flex: 1;
            color: #000;
            i {
                margin-right: .5em;
            }
        }
    }
    >.panel-body {
        flex: 1;
        overflow: auto;
        &.panel-body-space {
            padding: 8px 16px;
        }
    }
    >.panel-foot {
        border-top: 1px solid #ddd;
        padding: 8px 16px;
    }
}