.navs {}

.navs ul {}

.navs ul li {
    float: left;
    padding: 4px 16px;
    &.active {
        background-color: #0295d3 !important;
    }
    &:hover {
        background-color: rgba($color: #fff, $alpha: .1);
        cursor: pointer;
    }
}

.navs ul li a {
    display: block;
    text-align: center;
    padding: 4px;
}

.navs ul li a i {
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 24px;
    margin: 0 auto;
}

.navs ul li a span {
    display: block;
    line-height: 20px;
    font-size: 14px;
}