<div class="tools">
    <ul>
        <li *ngFor="let item of items" (click)="toggle(item.id)" [ngClass]="{'active':selectTool === item.id}" [nzTitle]="item.title" nzPlacement="right" nz-tooltip>
            <a>
                <i class="{{item.icon}}"></i>
            </a>
        </li>
    </ul>
</div>
<div class="space"></div>
<div class="tools">
    <ul>
        <li (click)="clear()" nzTitle="清除" nzPlacement="right" nz-tooltip>
            <a>
                <i class="fa fa-trash"></i>
            </a>
        </li>
    </ul>
</div>