<div class="tools">
    <ul>
        <li *ngFor="let item of items" (click)="toggle(item.id)" [ngClass]="{'active':selectTool === item.id}" [nzTitle]="item.title" nzPlacement="right" nz-tooltip>
            <a>
                <i class="{{item.icon}}"></i>
                <span [hidden]="!showToolbarLabel">{{item.title}}</span>
            </a>
        </li>
    </ul>
</div>
<div class="space"></div>
<div class="tools tools-orange">
    <ul>
        <li (click)="isRoam = true" nzTitle="漫游" nzPlacement="right" nz-tooltip [ngClass]="{'active':isRoam}">
            <a>
                <i class="fa fa-google-plus"></i>
                <span [hidden]="!showToolbarLabel">漫游</span>
            </a>
        </li>
        <li (click)="clear()" nzTitle="清除" nzPlacement="right" nz-tooltip>
            <a>
                <i class="fa fa-trash"></i>
                <span [hidden]="!showToolbarLabel">清除</span>
            </a>
        </li>
    </ul>
</div>
<div class="tools tools-blue">
    <ul>
        <li *ngFor="let mode of mapModes" (click)="mapMode = mode.code; select_tool = null;" [ngClass]="{'active':mapMode === mode.code}" [nzTitle]="mode.title" nzPlacement="right" nz-tooltip>
            <a>
                <i class="{{mode.icon}}"></i>
                <span [hidden]="!showToolbarLabel">{{mode.title}}</span>
            </a>
        </li>
    </ul>
</div>