<div class="panel" style="height:100%;">
    <div class="panel-body panel-body-space">
        <!-- 内容 star -->
        <nz-divider nzText="地形剖面分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="sectionAnalyze()">地形剖面分析</button>
        <nz-divider nzText="地形开挖分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="fillDigAnalyze()">地形开挖分析</button>
        <nz-divider nzText="缓冲区分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="pointBuffer()">点缓冲分析</button>
        <button nz-button nzType="default" nzBlock (click)="lineBuffer()">线缓冲分析</button>
        <button nz-button nzType="default" nzBlock (click)="areaBuffer()">面缓冲分析</button>
        <nz-divider nzText="画水分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="waterAnalyze()">画水分析</button>
        <nz-divider nzText="空间叠加分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="overlayAnalyze()">空间叠加分析</button>
        <nz-divider nzText="坡度分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="slopeAnalyze()">坡度分析</button>
        <nz-divider nzText="通视分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="visualAnalyze()">通视分析</button>
        <!-- 内容 end -->
    </div>
</div>