<div class="panel" style="height:100%;">
    <div class="panel-body panel-body-space">
        <!-- 内容 star -->
        <nz-divider nzText="淹没分析加载" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock>淹没分析加载</button>
        <nz-divider nzText="淹没分析Step" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock>淹没分析Step</button>
        <nz-divider nzText="淹没分析重置" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock>淹没分析重置</button>
        <nz-divider nzText="淹没分析清除" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock>淹没分析清除</button>
        <!-- 内容 end -->
    </div>
</div>