<div class="panel" style="height:100%;">
    <div class="panel-body panel-body-space">
        <!-- 内容 star -->
        <nz-divider nzText="点渲染" nzOrientation="left"></nz-divider>
        <button nz-button nzType="primary" nzBlock (click)="randerMode = 0">点渲染</button>
        <nz-divider nzText="线渲染" nzOrientation="left"></nz-divider>
        <button nz-button nzType="primary" nzBlock (click)="randerMode = 1">线渲染</button>
        <nz-divider nzText="面渲染" nzOrientation="left"></nz-divider>
        <button nz-button nzType="primary" nzBlock (click)="randerMode = 2">面渲染</button>
        <!-- 内容 end -->
    </div>
</div>