<!-- <div class="card mb-3">
    <div class="card-header">
        Bar Chart
    </div>
    <div class="card-body">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
    </div>
    <div class="card-footer">
        <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        Doughnut Chart
    </div>
    <div class="card-body">
        <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        Radar Chart
    </div>
    <div class="card-body">
        <canvas baseChart height="150px" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        Pie Chart
    </div>
    <div class="card-body">
        <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        Polar Area Chart
    </div>
    <div class="card-body">
        <canvas baseChart height="130px" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        Line Chart
    </div>
    <div class="card-body">
        <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
    </div>
</div> -->

<div class="panel" style="height:100%;">
    <div class="panel-body">
        <!-- 内容 star -->
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>
        <!-- 内容 end -->
    </div>
    <div class="panel-foot">
        <!-- 按钮 star-->
        <nz-button-group>
            <button nz-button>
            <i class="anticon anticon-play-circle"></i>播放
      </button>
            <button nz-button>
            <i class="anticon anticon-pause-circle"></i>暂停
      </button>
            <button nz-button>
            <i class="anticon anticon-close-circle"></i>停止
      </button>
        </nz-button-group>
        <!-- 按钮 end -->
    </div>
</div>