<div class="panel" style="height:100%;">
    <div class="panel-body panel-body-space">
        <!-- 内容 star -->
        <nz-divider nzText="点缓冲分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="pointBuffer()">点缓冲分析</button>
        <nz-divider nzText="点缓冲分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="pointBuffer()">点缓冲分析</button>
        <nz-divider nzText="点缓冲分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="pointBuffer()">点缓冲分析</button>
        <nz-divider nzText="点缓冲分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="pointBuffer()">点缓冲分析</button>
        <nz-divider nzText="点缓冲分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="pointBuffer()">点缓冲分析</button>
        <nz-divider nzText="点缓冲分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="pointBuffer()">点缓冲分析</button>
        <nz-divider nzText="点缓冲分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="pointBuffer()">点缓冲分析</button>
        <nz-divider nzText="点缓冲分析" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="pointBuffer()">点缓冲分析</button>
        <!-- 内容 end -->
    </div>
</div>