html {
    width: 99%;
    height: 96%;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
}

#treeContainer {
    float: left;
    width: 20%;
    height: 100%;
}

.tree {
    width: 100%;
    height: 45%;
    overflow-y:auto;
}

.btn{
    float: left
}

#scene {
    float: right;
    width: 80%;
    height: 100%
}