<ng-container [ngSwitch]="controlId">

    <!-- basicData -->
    <ng-container *ngSwitchCase="'modelManagement'">
        <app-model-management></app-model-management>
    </ng-container>
    <ng-container *ngSwitchCase="'obliqueManagement'">
        <app-oblique-management></app-oblique-management>
    </ng-container>
    <ng-container *ngSwitchCase="'renderMode'">
        <app-render-mode></app-render-mode>
    </ng-container>
    <ng-container *ngSwitchCase="'themeManagement'">
        <app-theme-management></app-theme-management>
    </ng-container>
    <!-- queryLocate -->
    <ng-container *ngSwitchCase="'attributeQuery'">
        <app-attribute-query></app-attribute-query>
    </ng-container>
    <ng-container *ngSwitchCase="'clickQuery'">
        <app-click-query></app-click-query>
    </ng-container>
    <!-- analyzeCalculate -->
    <ng-container *ngSwitchCase="'calculateTools'">
        <app-calculate-tools></app-calculate-tools>
    </ng-container>
    <ng-container *ngSwitchCase="'analyzeManagement'">
        <app-analyze-management></app-analyze-management>
    </ng-container>
    <!-- panLabel -->
    <ng-container *ngSwitchCase="'labelPan'">
        <app-label-pan></app-label-pan>
    </ng-container>
    <ng-container *ngSwitchCase="'threeDimensionalPan'">
        <app-three-dimensional-pan></app-three-dimensional-pan>
    </ng-container>
    <!-- performance -->
    <ng-container *ngSwitchCase="'floodDeduction'">
        <app-flood-deduction></app-flood-deduction>
    </ng-container>
    <ng-container *ngSwitchCase="'submergenceAnalysis'">
        <app-submergence-analysis></app-submergence-analysis>
    </ng-container>







    <!-- error -->
    <ng-container *ngSwitchCase="'undefined'">
        Error
    </ng-container>
    <!-- noFined -->
    <ng-container *ngSwitchDefault>
        {{controlId}}
    </ng-container>
</ng-container>