<ng-container [ngSwitch]="controlId">
    <!-- 001 -->
    <ng-container *ngSwitchCase="001001">
        <app-c001001></app-c001001>
    </ng-container>
    <ng-container *ngSwitchCase="001002">
        <app-c001002></app-c001002>
    </ng-container>
    <ng-container *ngSwitchCase="001003">
        <app-c001003></app-c001003>
    </ng-container>
    <!-- 002 -->
    <ng-container *ngSwitchCase="002001">
        <app-c002001></app-c002001>
    </ng-container>
    <ng-container *ngSwitchCase="002002">
        <app-c002002></app-c002002>
    </ng-container>
    <!-- 003 -->
    <ng-container *ngSwitchCase="003001">
        <app-c003001></app-c003001>
    </ng-container>
    <ng-container *ngSwitchCase="003002">
        <app-c003002></app-c003002>
    </ng-container>
    <!-- 004 -->
    <ng-container *ngSwitchCase="004001">
        <app-c004001></app-c004001>
    </ng-container>
    <ng-container *ngSwitchCase="004002">
        <app-c004002></app-c004002>
    </ng-container>
    <ng-container *ngSwitchCase="004003">
        <app-c004003></app-c004003>
    </ng-container>
    <ng-container *ngSwitchCase="004004">
        <app-c004004></app-c004004>
    </ng-container>
    <ng-container *ngSwitchCase="004005">
        <app-c004005></app-c004005>
    </ng-container>
    <ng-container *ngSwitchCase="004006">
        <app-c004006></app-c004006>
    </ng-container>
    <ng-container *ngSwitchCase="004007">
        <app-c004007></app-c004007>
    </ng-container>
    <ng-container *ngSwitchCase="004008">
        <app-c004008></app-c004008>
    </ng-container>
    <!-- 005 -->
    <ng-container *ngSwitchCase="005001">
        <app-c005001></app-c005001>
    </ng-container>
    <ng-container *ngSwitchCase="005002">
        <app-c005002></app-c005002>
    </ng-container>
    <!-- error -->
    <ng-container *ngSwitchCase="'undefined'">
        Error
    </ng-container>
    <!-- noFined -->
    <ng-container *ngSwitchDefault>
        {{controlId}}
    </ng-container>
</ng-container>