<ng-container [ngSwitch]="controlId">
    <!-- 001 -->
    <ng-container *ngSwitchCase="001001">
        <app-c001001></app-c001001>
    </ng-container>
    <ng-container *ngSwitchCase="001002">
        <app-c001002></app-c001002>
    </ng-container>
    <ng-container *ngSwitchCase="001003">
        <app-c001003></app-c001003>
    </ng-container>
    <!-- 002 -->
    <ng-container *ngSwitchCase="002001">
        <app-c002001></app-c002001>
    </ng-container>
    <ng-container *ngSwitchCase="002002">
        <app-c002002></app-c002002>
    </ng-container>
    <!-- 003 -->
    <ng-container *ngSwitchCase="003001">
        <app-c003001></app-c003001>
    </ng-container>
    <ng-container *ngSwitchCase="003002">
        <app-c003002></app-c003002>
    </ng-container>
    <!-- 004 -->
    <ng-container *ngSwitchCase="004001">
        <app-c004001></app-c004001>
    </ng-container>
    <ng-container *ngSwitchCase="004002">
        <app-c004002></app-c004002>
    </ng-container>
    <ng-container *ngSwitchCase="004003">
        <app-c004003></app-c004003>
    </ng-container>
    <ng-container *ngSwitchCase="004004">
        <app-c004004></app-c004004>
    </ng-container>
    <ng-container *ngSwitchCase="004005">
        <app-c004005></app-c004005>
    </ng-container>
    <ng-container *ngSwitchCase="004006">
        <app-c004006></app-c004006>
    </ng-container>
    <ng-container *ngSwitchCase="004007">
        <app-c004007></app-c004007>
    </ng-container>
    <ng-container *ngSwitchCase="004008">
        <app-c004008></app-c004008>
    </ng-container>
    <!-- 005 -->
    <ng-container *ngSwitchCase="005001">
        <app-c005001></app-c005001>
    </ng-container>
    <ng-container *ngSwitchCase="005002">
        <app-c005002></app-c005002>
    </ng-container>




    <!-- basicData -->
    <ng-container *ngSwitchCase="'modelManagement'">
        <app-model-management></app-model-management>
    </ng-container>
    <ng-container *ngSwitchCase="'obliqueManagement'">
        <app-oblique-management></app-oblique-management>
    </ng-container>
    <ng-container *ngSwitchCase="'renderMode'">
        <app-render-mode></app-render-mode>
    </ng-container>
    <ng-container *ngSwitchCase="'themeManagement'">
        <app-theme-management></app-theme-management>
    </ng-container>
    <!-- queryLocate -->
    <ng-container *ngSwitchCase="'attributeQuery'">
        <app-attribute-query></app-attribute-query>
    </ng-container>
    <ng-container *ngSwitchCase="'clickQuery'">
        <app-click-query></app-click-query>
    </ng-container>
    <!-- analyzeCalculate -->
    <!-- <ng-container *ngSwitchCase="'angleCalculate'">
        <app-angle-calculate></app-angle-calculate>
    </ng-container>
    <ng-container *ngSwitchCase="'areaCalculate'">
        <app-area-calculate></app-area-calculate>
    </ng-container>
    <ng-container *ngSwitchCase="'bufferAnalyze'">
        <app-buffer-analyze></app-buffer-analyze>
    </ng-container>
    <ng-container *ngSwitchCase="'coordinateCalculate'">
        <app-coordinate-calculate></app-coordinate-calculate>
    </ng-container>
    <ng-container *ngSwitchCase="'distanceCalculate'">
        <app-distance-calculate></app-distance-calculate>
    </ng-container>
    <ng-container *ngSwitchCase="'fillDigAnalyze'">
        <app-fill-dig-analyze></app-fill-dig-analyze>
    </ng-container>
    <ng-container *ngSwitchCase="'heightCalculate'">
        <app-height-calculate></app-height-calculate>
    </ng-container>
    <ng-container *ngSwitchCase="'overlayAnalyze'">
        <app-overlay-analyze></app-overlay-analyze>
    </ng-container>
    <ng-container *ngSwitchCase="'sectionAnalyze'">
        <app-section-analyze></app-section-analyze>
    </ng-container>
    <ng-container *ngSwitchCase="'slopeAnalyze'">
        <app-slope-analyze></app-slope-analyze>
    </ng-container>
    <ng-container *ngSwitchCase="'terrainAreaCalculate'">
        <app-terrain-area-calculate></app-terrain-area-calculate>
    </ng-container>
    <ng-container *ngSwitchCase="'terrainDistanceCalculate'">
        <app-terrain-distance-calculate></app-terrain-distance-calculate>
    </ng-container>
    <ng-container *ngSwitchCase="'visualAnalyze'">
        <app-visual-analyze></app-visual-analyze>
    </ng-container>
    <ng-container *ngSwitchCase="'waterAnalyze'">
        <app-water-analyze></app-water-analyze>
    </ng-container> -->

    <ng-container *ngSwitchCase="'calculateTools'">
        <app-calculate-tools></app-calculate-tools>
    </ng-container>
    <ng-container *ngSwitchCase="'analyzeManagement'">
        <app-analyze-management></app-analyze-management>
    </ng-container>
    <!-- panLabel -->
    <ng-container *ngSwitchCase="'labelPan'">
        <app-label-pan></app-label-pan>
    </ng-container>
    <ng-container *ngSwitchCase="'threeDimensionalPan'">
        <app-three-dimensional-pan></app-three-dimensional-pan>
    </ng-container>
    <!-- performance -->
    <ng-container *ngSwitchCase="'floodDeduction'">
        <app-flood-deduction></app-flood-deduction>
    </ng-container>
    <ng-container *ngSwitchCase="'submergenceAnalysis'">
        <app-submergence-analysis></app-submergence-analysis>
    </ng-container>







    <!-- error -->
    <ng-container *ngSwitchCase="'undefined'">
        Error
    </ng-container>
    <!-- noFined -->
    <ng-container *ngSwitchDefault>
        {{controlId}}
    </ng-container>
</ng-container>