<div class="panel" style="height:100%;">
    <div class="panel-body panel-body-space">
        <!-- 内容 star -->
        <nz-divider nzText="距离量算" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="distanceCalculate()">距离量算</button>
        <nz-divider nzText="面积量算" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="areaCalculate()">面积量算</button>
        <nz-divider nzText="高度量算" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="heightCalculate()">高度量算</button>
        <nz-divider nzText="地形距离量算" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="terrainDistanceCalculate()">地形距离量算</button>
        <nz-divider nzText="地形面积量算" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="terrainAreaCalculate()">地形面积量算</button>
        <nz-divider nzText="角度量算" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="angleCalculate()">角度量算</button>
        <nz-divider nzText="坐标显示" nzOrientation="left"></nz-divider>
        <button nz-button nzType="default" nzBlock (click)="coordinateCalculate()">坐标显示</button>
        <!-- 内容 end -->
    </div>
</div>