<ng-container [ngSwitch]="controlId">
    <!-- 001 -->
    <!-- <ng-container *ngSwitchCase="001001">
        aaaa
    </ng-container> -->
    <!--

layer-base
layer-model
layer-pipeline
map-roaming
coordinate-measurement
distance-measurement
area-measurement
roaming-path
tagging-point
tagging-clear
location-road
location-place
location-coordinate
query-click
query-pipe
query-material
query-appendages
query-conditional
query-spatial
statistics-class
statistics-piecewise
statistics-appendage
statistics-length
statistics-count
analysis-pipeline
analysis-cross
analysis-tube
analysis-connectivity
analysis-tracing
analysis-horizontal
analysis-Vertical
analysis-depth
analysis-flow
analysis-visibility
housing
thematic-printing
thematic-output


 -->

    <!-- error -->
    <ng-container *ngSwitchCase="'undefined'">
        Error
    </ng-container>
    <!-- noFined -->
    <ng-container *ngSwitchDefault>
        {{controlId}}
    </ng-container>
</ng-container>