<div class="panel" style="height:100%;">
    <div class="panel-body panel-body-space">
        <!-- 内容 star -->
        <form nz-form [nzLayout]="'vertical'">
            <nz-form-item>
                <nz-form-label>滑块：</nz-form-label>
                <nz-form-control>
                    <nz-slider [nzDefaultValue]="30"></nz-slider>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>进度：</nz-form-label>
                <nz-form-control>
                    <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
                </nz-form-control>
            </nz-form-item>
        </form>

        <!-- 内容 end -->
    </div>
    <div class="panel-foot">
        <!-- 按钮 star-->
        <nz-button-group>
            <button nz-button>
        <i class="anticon anticon-play-circle"></i>播放
      </button>
            <button nz-button>
        <i class="anticon anticon-pause-circle"></i>暂停
      </button>
            <button nz-button>
        <i class="anticon anticon-close-circle"></i>停止
      </button>
        </nz-button-group>
        <!-- 按钮 end -->
    </div>
</div>